@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background-color:black;
    color:white;
    height: 8vh;
    display: flex;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    padding: 20px;
    cursor: pointer;
    font-size: 22px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top:29px;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    position: relative;
}
.line{
    background-color: black;
    height:3px;
    width:0;
    transition: width 1s ease-in-out;
    position: absolute;
}
.box{
    border:1px solid black;
    display:flex;
    justify-content: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(247, 241, 252);
}
.box > span{
    font-size: 7vw;
    
}
.gameInfo{
    padding:20px;
    /* margin-left:49px; */
}
#turnInfo{
    padding:20px;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top:0;
}
.bb-0{
    border-bottom:0;
}
.imgBox > img{
    width: 0;
    transition: width 1s ease-in-out;
}
.info{
    font-size:20px;
}
#reset {
    margin: 0px 12px;
    padding: 10px 24px;
    background: #eae2ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bolder;
}
@media screen and (max-width:950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top:34px;
    }
    .gameInfo > h1 {
        font-size:1.5rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    } 
}
